*{
    padding: 0;
    margin: 0;
}

:root{
    --ticTacBorders: 3px solid black;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 10fr;

}
.header {
    background-color: rgb(204, 202, 202);
    color: black;
    text-align: center;
    padding: 10px;
    flex-grow: 0;
}

.wrapper{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    min-height: 500px;
    max-height: 80%;
    background-color: rgb(180, 179, 179);
}

.middle {
    border-top: var(--ticTacBorders);
    border-bottom: var(--ticTacBorders);
}

.right {
    border-left: var(--ticTacBorders);
}

.left {
    border-right: var(--ticTacBorders);
}


.gameSpot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.gameSpot:hover{
    background-color: rgb(201, 196, 196);
}

.gameSpot:active{
    background-color: rgb(56, 55, 55);
}

.winner {
    height: 100vh;
    width: 100vw;
    background-color: rgba(189, 189, 189, 0.534);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox {
    background-color: white;
    color: black;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.btns {
    display: flex;
    gap: 10px;
}

.yes, .no {
    width: 100px;
    padding: 0px 5px;
    color: white;
}
.yes{
    background-color: green;
}

.no {
    background-color: red;
}

.hidden {
    visibility: hidden;
}
